{{ header }}
<div class="container">
  <div class="row">{{column_left}}
    
    {% if column_left and column_right %}
    {% set classes = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set classes = 'col-sm-9' %}
    {% else %}
    {% set classes = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{classes}}">{{ content_top }}

      {% if data.payment_type == "bca_klikpay" %}

        <div class="container">{{content_top}}
        <h2 class="text-center">Payment Succeed!</h2>
        <p class="text-center">We've received your payment. Your order will be processed immediately</p>

      {% else %}

        <h1>Order received</h1>
        <p>Thank you. Your order has been received.</p>
        you place order with <b>{{ data.payment_method }}</b></br>
        <p>Thank you. Your order has been received.</p>
        <p>Order Number : <strong> {{ data.order_id }} </strong></p>
        <p>Total : <strong> {{ data.total }} </strong></p>
        <p>Payment Method : <strong> {{ data.payment_method }} </strong></p>
        <p>Payment Page : <a href="{{ data.comment }}" target="blank">{{ data.comment }}</a></p>
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>

      {% endif %}
      
		      
	  </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}